/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.btn_22 {
    border: none;
    color: #fff;
    background: #28a745;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.btn_22:hover {
    background: #1e7c34;
    color: #fff;
}

.btn_22.full-width {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

/*--- Star rating ---*/
.rating-score > .rating-score-item, .rating-input > label {
    display: inline-block;
}
.rating-score > .rating-score-item:after, .rating-input > label:after {
    font-family: 'FontAwesome';
    font-size: 1.5em;
    color: #FFC600;
}
.rating-score[data-rating="1"] > .rating-score-item:nth-child(-n + 1):after, .rating-score[data-rating="2"] > .rating-score-item:nth-child(-n + 2):after, .rating-score[data-rating="3"] > .rating-score-item:nth-child(-n + 3):after, .rating-score[data-rating="4"] > .rating-score-item:nth-child(-n + 4):after, .rating-score[data-rating="5"] > .rating-score-item:nth-child(-n + 5):after, .rating-score[data-rating="0.5"] > .rating-score-item:nth-child(-n + 0):after, .rating-score[data-rating="1.5"] > .rating-score-item:nth-child(-n + 1):after, .rating-score[data-rating="2.5"] > .rating-score-item:nth-child(-n + 2):after, .rating-score[data-rating="3.5"] > .rating-score-item:nth-child(-n + 3):after, .rating-score[data-rating="4.5"] > .rating-score-item:nth-child(-n + 4):after, .rating-input > input:checked ~ label:after, .rating-input:hover > input + label:hover:after, .rating-input:hover > input + label:hover ~ input + label:after {
    content: "\f005";
}
.rating-score[data-rating="0.5"] > .rating-score-item:nth-child(1):after, .rating-score[data-rating="1.5"] > .rating-score-item:nth-child(2):after, .rating-score[data-rating="2.5"] > .rating-score-item:nth-child(3):after, .rating-score[data-rating="3.5"] > .rating-score-item:nth-child(4):after, .rating-score[data-rating="4.5"] > .rating-score-item:nth-child(5):after {
    content: "\f123";
}
.rating-score > .rating-score-item:after, .rating-input > label:after, .rating-input:hover > input + label:after {
    content: "\f006";
}
.rating-score {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
.rating-input {
    border: none;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.rating-input > input {
    display: none;
}
/*--- /Star rating ---*/


/*--- Form header ---*/
.header_box {
    padding-bottom: 10px;
}
.header_box.version_2 {
    border-bottom: 1px solid #ededed;
    margin: 0 -30px;
    padding: 0 30px 10px 30px;
    margin-bottom: 15px;
}
.header_box.version_2 i {
    margin-right: 10px;
    color: #ddd;
}
.header_box h2 {
    /* font-size: 21px; */
    font-size: 1.3125rem;
    display: inline-block;
    margin-top: 5px;
}
/*--- Form header ---*/