/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.btn_22 {
    border: none;
    color: #fff;
    background: #28a745;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.btn_22:hover {
    background: #1e7c34;
    color: #fff;
}

.btn_22.full-width {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}