/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}